<div class="container-fluid loginModule">
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 m-auto">
      <div class="card shadow bottom">
        <div class="card-body">
          <div class="form-title text-center">
            <h4 class="mb-4">Welcome back!</h4>
          </div>
          <div class="d-flex flex-column text-center">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="email1" placeholder="Your email address...">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Your password...">
              </div>
              <div class="form-group d-flex mb-3">
                <div class='form-row w-100 m-0'>
                  <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left p-0'>
                    <label for="checkbox" class="customCheckbox text-left">
                      <input id="checkbox" type="checkbox" name="checkbox">
                      <span class="label-text text-muted">Remember me</span>
                    </label>
                  </div>
                  <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
                    <strong class="forgot-pwd">
                      <a href="javascript:;" class="loginLinkColor">Forgot your password?</a>
                    </strong>
                  </div>
                </div>

              </div>
              <button type="button" class="btn btn-info btn-block">Login</button>
            </form>

            <div class="text-center text-muted delimiter">or use a social network</div>
            <div class="d-flex justify-content-center social-buttons">
              <button type="button" class="btn btn-secondary btn-round btn-twitter" data-toggle="tooltip"
                data-placement="top" title="Twitter">
                <i class="fa fa-twitter"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-round btn-facebook" data-toggle="tooltip"
                data-placement="top" title="Facebook">
                <i class="fa fa-facebook"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-round btn-linkedin" data-toggle="tooltip"
                data-placement="top" title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </button>
            </div>
            <div class="text-center text-muted delimiter pb-0">
              Don't have a account? <strong><a href="javascript:;" class="loginLinkColor">Sign Up</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
